.small-spinner {
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	right: 10px;
	/*top: 5px;*/
	md-progress-circular {
		width: 30px;
		height: 30px;
		.md-spinner-wrapper .md-inner {
			width: 30px;
			height: 30px;
			height: 30px;
			position: relative;
			width: 30px;
			.md-gap {
				border-top-style: solid;
				border-top-width: 2px;
				bottom: 0;
				box-sizing: border-box;
				left: 14px;
				position: absolute;
				right: 14px;
				top: 0;
			}
			.md-left, .md-right {
				height: 50px;
				overflow: hidden;
				position: absolute;
				top: 0;
				width: 15px;
			}
			.md-left .md-half-circle, .md-right .md-half-circle {
				border-bottom: 3px solid transparent;
				border-radius: 50%;
				border-style: solid;
				border-width: 3px;
				box-sizing: border-box;
				height: 30px;
				position: absolute;
				top: 0;
				width: 30px;
			}
		}
	}
}